
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/7.0.2/javaCompile/taskHistory.bin
.gradle/7.0.2/javaCompile/javaCompile.lock
.gradle/7.0.2/javaCompile/jarAnalysis.bin
.gradle/7.0.2/javaCompile/classAnalysis.bin
.gradle/7.0.2/fileHashes/resourceHashesCache.bin
.gradle/7.0.2/fileHashes/fileHashes.lock
.gradle/7.0.2/fileHashes/fileHashes.bin
.gradle/7.0.2/executionHistory/executionHistory.lock
.gradle/7.0.2/executionHistory/executionHistory.bin
